*{ 
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

html, body {
    height: 100%;
}

#main-back{ 
    height : 100vh;
    background-color: rgba(231, 244, 255, 0.544);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1{ 
   color: rgb(109, 108, 108);
    font-size: 40px;
    margin-top: 20px;
}

.roboto-text {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
    font-variation-settings: "wdth" 75;
  }

.button-link{ 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    color: rgb(0, 0, 0); 
    cursor: pointer;
    text-align: center;
    background-color: #fbffd4;
    text-decoration: none;
    border-radius: 4px;
    border-width: 2px;
    border: 2px solid rgb(0, 0, 0);
    box-sizing: border-box;
    max-width: 180px;
    min-width: 180px;
    margin: 2px;
}

.button-link:hover {
    background-color: #f6fea8;
}


#main-buttons{ 
    margin-top: 80px;
    width: 600px;
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: center;
}

#home_btn{ 
    margin-top: 80px;
    margin-bottom: 40px;
}

fieldset{ 
    padding: 50px;
    margin-top: 40px;
    border-radius: 4px;
    border-width: 2px;
    border: 2px solid rgb(0, 0, 0);
}

input{ 
    padding: 8px;
}

.input_btn{ 
    cursor: pointer;
    text-align: center;
    background-color: #fbffd4;
    text-decoration: none;
    border-radius: 4px;
    border-width: 2px;
    border: 2px solid rgb(0, 0, 0);
}

.input_btn:hover{ 
    background-color: #f6fea8;
}

#resp-div{ 
    margin-top: 50px;
    margin-bottom: 50px;
}

#main-in{ 
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 15px;
  
}

input[type=submit]{
    font-family: "Roboto", sans-serif !important;
}

input[type=reset]{
    font-family: "Roboto", sans-serif !important;
}

table{ 
    margin: 30px;
}

th{ 
    padding: 10px;
}

td{ 
    padding: 10px;
}