<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Home</title>
	<link rel="stylesheet" href="/styles.css">
</head>

<body>
	<div id="main-back">
	<h1>Name Guesser</h1>
		<div id="main-buttons">
			<a class="button-link" href="/form">Enter Information Here</a>
			<a class="button-link" href="/form">Look Up Data</a>
		</div>
	</div>
</body>

</html>
