<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Guessed Age</title>
</head>

<body>
	<h1>Guessed Age</h1>
	<div>
		<strong><%- name %></strong> is <strong><%- guess %></strong> years old
		<br>
		<hr>
		<a href="/form">Another Guess</a>
	</div>
</body>

</html>
